<div id="login-form" class="login-form">

    <form>

        <h3>Log IN</h3>

        <div class="box-container">
            <i class="fas fa-envelope"></i>
            <input id="login-email" name="login-email" type="email" class="box" placeholder="email id" required />
        </div>

        <div class="box-container">
            <i class="fas fa-key"></i>
            <input id="login-password" name="login-password" type="password" class="box" placeholder="password" required />
            <div><i id="login-eye" class="fas fa-eye-slash"></i></div>
        </div>

        <p id="login-form-check-statement" class="login-form-check-statement"></p>
        <p>forget password? <a>click here</a></p>
        <p>don't have an account? <a id="open-registration-form">register now</a></p>

        <input id="login-submit-btn" type="button" class="btn" value="Log IN" />

        <i id="close-login-form" class="fas fa-times"></i>

    </form>
    
</div>
